<div>
    <p-card header="BMI">
        <div class="row">
            <div class="col-5">
                <b><mark>Your BMI is {{bmi | number}}.</mark></b>
                <br><br>
                The Body Mass Index (BMI) Calculator can be used to calculate BMI value and corresponding weight status while taking age into consideration.
            </div>
            <div class="col-2"></div>
            <div class="col">
                <div class="row" style="background-color: #0569ff; color: white;">
                    <div class="col">
                        <b>Underweight</b>
                    </div>
                    <div class="col">
                        <b>Normal weight</b>
                    </div>
                    <div class="col">
                        <b>Overweight</b>
                    </div>
                    <div class="col">
                        <b>Obesity</b>
                    </div>
                </div>
                <div class="row" style="background-color: #05b8ff; color: white;">
                    <div class="col">
                        < 18.5
                    </div>
                    <div class="col">
                        18.5 - 25
                    </div>
                    <div class="col">
                        25 - 30
                    </div>
                    <div class="col">
                        > 30
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>